<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swepe.swepe"
    android:versionCode="5"
    android:versionName="alpha:2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".FirstStart"></activity>
        <activity
            android:name=".Upload"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".NoLocalAccount" />
        <activity android:name=".Login" />
        <activity
            android:name=".MyUploads"
            android:label="@string/title_activity_my_uploads"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.swepe.swepe.MainActivity" />
        </activity>
        <activity android:name=".Register"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.tgag.tgag.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>